{% extends 'tour/base.html' %}
{% load static %}


{% block extra_head %}
<style>
.cont{
	margin: 30px  20% 40px 20%;
}
</style>
{% endblock extra_head %}


{% block content %} 
	<div class="content-section cont">
		<div class="main">
			<img src="{{ user.profile.image.url }}" class="rounded-circle account-img">
			<div class="media-body">
				<h2 class="account-heading">{{ user.username }}</h2>
				<p class="text-secondary">{{ user.email }}</p>
			</div>
		</div>

	</div>

{% endblock content %}